{% extends 'users/index.html' %}

{% block content %}
    <div class="card mt-xl-5">
            <div class="card-body mt-xl-5">
            

                <a class="btn btn-success" href="{% url 'users:review-create' %}">Fikr qoldirish</a>


              <!-- Default Table -->
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ism</th>
                    <th scope="col">Kasb</th>
                    <th scope="col">Fikr</th>
                    <th scope="col">Yulduz</th>

                  </tr>
                </thead>
                <tbody>
                {% for review in reviews %}
                  <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ review.user.full_name }}</td>
                    <td>{{ review.speciality }}</td>
                    <td>{{ review.review | truncatechars:50}}</td>
                    <td class="stars">
                        {% for _ in review.stars %}
                          <i class="bi bi-star-fill" style="color:goldenrod;"></i>
                        {% endfor %}

                  </tr>
                {% endfor %}
                </tbody>
              </table>
              <!-- End Default Table Example -->
            </div>
          </div>
{% endblock %}