{% extends 'dashboard/index.html' %}

{% block content %}
        <div class="col-lg-6 mt-xl-5">

          <div class="card mt-xl-5">
            <div class="card-body mt-xl-5">

              <!-- Vertical Form -->
              <form class="row g-3" method="post" action="{% url 'users:review-create' %}">
                  {% csrf_token %}
                <div class="col-12">
                  <label for="inputNanme4" class="form-label">Your Speciality</label>
                  <input name="speciality" type="text" class="form-control" id="inputNanme4">
                </div>
                <div class="col-12">
                  <label for="inputEmail4" class="form-label">Review</label>
                  <input name="review" type="text" class="form-control" id="inputEmail4">
                </div>
                <div class="col-12">
                  <label for="inputPassword4" class="form-label">Stars</label>
                  <input name="stars" type="number" class="form-control" id="inputPassword4">
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Save</button>
                    <a class="btn btn-danger" href="{% url 'users:review-list' %}">Cancel</a>
                </div>
              </form><!-- Vertical Form -->

            </div>
          </div>

        </div>
{% endblock %}