{% extends 'dashboard/index.html' %}

{% block content %}
        <div class="col-lg-6 mt-xl-5">

          <div class="card mt-xl-5">
            <div class="card-body mt-xl-5">

              <!-- Vertical Form -->

                  {% csrf_token %}
                <div class="col-12">
                  <label for="inputNanme4" class="form-label">Nomi</label>
                  <input name="name" type="text" class="form-control" id="inputNanme4" value="{{ staff.full_name }}">
                </div>
                <div class="col-12">
                  <label for="inputEmail4" class="form-label">Ma'lumot</label>
                    <textarea name="bio" type="text" class="form-control" id="inputEmail4">{{ staff.bio }}</textarea>
                </div>
                  <div class="col-12">
                  <label for="inputEmail4" class="form-label">Kasb</label>
                    <input name="speciality" type="text" class="form-control" id="inputEmail4" value="{{ staff.specialty }}">
                </div>
                <div class="col-12">
                  <label for="inputPassword4" class="form-label">Rasm</label>
                    <img src="{{ staff.image.url }}" alt="">

                </div>

                  <div class="col-12">
                  <label for="inputEmail4" class="form-label">Twitter</label>
                    <input name="twitter" type="text" class="form-control" id="inputEmail4" value="{{ staff.twitter }}">
                </div>

                  <div class="col-12">
                  <label for="inputEmail4" class="form-label">Facebook</label>
                    <input name="Facebook" type="text" class="form-control" id="inputEmail4" value="{{ staff.facebook }}">
                </div>

                  <div class="col-12">
                  <label for="inputEmail4" class="form-label">Instagram</label>
                    <input name="Instagram" type="text" class="form-control" id="inputEmail4" value="{{ staff.instagram }}">
                </div>

                  <div class="col-12">
                  <label for="inputEmail4" class="form-label">Linkedin</label>
                    <input name="linkedin" type="text" class="form-control" id="inputEmail4" value="{{ staff.linkedin }}">
                </div>


                <div class="text-center mt-3">

                    <a class="btn btn-danger" href="{% url 'dashboard:staff-list' %}">Menu</a>
                </div>





            </div>
          </div>

        </div>
{% endblock %}