{% extends 'dashboard/index.html' %}

{% block content %}
    <div class="card mt-xl-5">
            <div class="card-body mt-xl-5">
            <h4>Messages</h4>

              <!-- Default Table -->
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Message</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                  </tr>
                </thead>
                <tbody>
                {% for contact in contacts %}
                  <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td><a href="{% url 'users:contact-detail' contact.id %}">{{ contact.name }}</a></td>
                    <td>{{ contact.email }}</td>
                    <td>{{ contact.subject }}</td>
                    <td>{{ contact.message | truncatechars:50 }}</td>
                      <td><a href="{% url 'users:contact-update' contact.id %}"><i class="bi bi-pencil-square"></i></a></td>
                      <td><a href="{% url 'users:contact-delete' contact.id %}"><i class="bi bi-trash3"></i></a></td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
              <!-- End Default Table Example -->
            </div>
          </div>
{% endblock %}